<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Toolbar - Components</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../../../../../css/ionic.bundle.css" rel="stylesheet">
  <link href="../../../../../scripts/testing/styles.css" rel="stylesheet">
  <script src="../../../../../scripts/testing/scripts.js"></script>
  <script nomodule src="../../../../../dist/ionic/ionic.js"></script>
  <script type="module" src="../../../../../dist/syg/syg.esm.js"></script></head>
</head>

<body>
  <syg-app>
    <syg-content id="content">
      <!-- Left Side Menu Toggle Components -->
      <syg-toolbar>
        <syg-buttons slot="start">
          <syg-menu-button auto-hide="false"></syg-menu-button>
        </syg-buttons>
        <syg-buttons slot="secondary">
          <syg-button>
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </syg-button>
        </syg-buttons>
        <syg-title>Left Side Menu Toggle</syg-title>
      </syg-toolbar>

      <syg-toolbar>
        <syg-buttons slot="start">
          <syg-menu-button auto-hide="false"></syg-menu-button>
        </syg-buttons>
        <syg-buttons slot="secondary">
          <syg-button>
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </syg-button>
        </syg-buttons>
        <syg-segment color="secondary" value="second">
          <syg-segment-button value="first">
            Segment
          </syg-segment-button>
          <syg-segment-button value="second">
            Component
          </syg-segment-button>
        </syg-segment>
      </syg-toolbar>

      <syg-toolbar>
        <syg-buttons slot="start">
          <syg-menu-button auto-hide="false"></syg-menu-button>
        </syg-buttons>
        <syg-buttons slot="secondary">
          <syg-button>
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </syg-button>
        </syg-buttons>
        <syg-searchbar placeholder="Searchbar..."></syg-searchbar>
      </syg-toolbar>

      <!-- Right Side Menu Toggle Components -->
      <syg-toolbar>
        <syg-buttons slot="start">
          <syg-button onclick="buttonClick()">
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </syg-button>
        </syg-buttons>
        <syg-title>Right Side Menu Toggle</syg-title>
        <syg-buttons slot="end">
          <syg-menu-button auto-hide="false"></syg-menu-button>
        </syg-buttons>
      </syg-toolbar>

      <syg-toolbar>
        <syg-buttons slot="start">
          <syg-button>
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </syg-button>
        </syg-buttons>
        <syg-segment color="secondary" value="component">
          <syg-segment-button value="segment">
            Segment
          </syg-segment-button>
          <syg-segment-button value="component">
            Component
          </syg-segment-button>
        </syg-segment>
        <syg-buttons slot="end">
          <syg-menu-button auto-hide="false"></syg-menu-button>
        </syg-buttons>
      </syg-toolbar>

      <syg-toolbar>
        <syg-buttons slot="start">
          <syg-button>
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </syg-button>
        </syg-buttons>
        <syg-searchbar placeholder="Searchbar..."></syg-searchbar>
        <syg-buttons slot="end">
          <syg-menu-button auto-hide="false"></syg-menu-button>
        </syg-buttons>
      </syg-toolbar>

      <syg-toolbar color="light">
        <syg-segment value="third">
          <syg-segment-button value="first">
            Light
          </syg-segment-button>
          <syg-segment-button value="second">
            Bar
          </syg-segment-button>
          <syg-segment-button value="third">
            Segment
          </syg-segment-button>
        </syg-segment>
      </syg-toolbar>

      <syg-toolbar color="light">
        <syg-segment color="primary" value="first">
          <syg-segment-button value="first">
            Light
          </syg-segment-button>
          <syg-segment-button value="second">
            Bar
          </syg-segment-button>
          <syg-segment-button value="third">
            Primary
          </syg-segment-button>
        </syg-segment>
      </syg-toolbar>
    </syg-content>
  </syg-app>
</body>

</html>
