<syg-header>
  <syg-toolbar>
    <syg-buttons slot="start">
      <syg-back-button></syg-back-button>
    </syg-buttons>
    <syg-title>router-link page</syg-title>
  </syg-toolbar>
</syg-header>

<ion-content class="ion-padding">
  <p>ngOnInit: <span id="ngOnInit">{{onInit}}</span></p>
  <p>canGoBack: <span id="canGoBack">{{canGoBack}}</span></p>
  <p>ionViewWillEnter: <span id="ionViewWillEnter">{{willEnter}}</span></p>
  <p>ionViewDidEnter: <span id="ionViewDidEnter">{{didEnter}}</span></p>
  <p>ionViewWillLeave: <span id="ionViewWillLeave">{{willLeave}}</span></p>
  <p>ionViewDidLeave: <span id="ionViewDidLeave">{{didLeave}}</span></p>
</ion-content>
