@import "./item-option";
@import "./item-option.ios.vars";

// iOS Item Option
// --------------------------------------------------

:host {
  font-size: $item-optsyg-button-ios-font-size;
}

:host(.ion-activated) {
  background: syg-color(primary, shade);
}

:host(.syg-color.ion-activated) {
  background: current-color(shade);
}
