<syg-header>
  <syg-toolbar>
    <syg-title>Tab 3 - Page 1</syg-title>
  </syg-toolbar>
</syg-header>

<ion-content class="ion-padding">
  <h1>LAZY LOADED TAB</h1>
  <p>
    <syg-button routerLink="/tabs/account" id="goto-tab1-page1">Go to Tab 1 - Page 1</syg-button>
    <syg-button routerLink="/tabs/account/nested/1" id="goto-tab1-page2">Go to Tab 1 - Page 2</syg-button>
    <syg-button routerLink="/tabs/lazy/nested" id="goto-tab3-page2">Go to Tab 3 - Page 2</syg-button>

  </p>
</ion-content>
