@import "../../themes/ionic.globals";

// Header
// --------------------------------------------------

syg-header {
  display: block;
  position: relative;

  order: -1;

  width: 100%;

  z-index: $z-index-toolbar;
}

syg-header syg-toolbar:first-of-type {
  padding-top: var(--syg-safe-area-top, 0);
}
