
<syg-header>
  <syg-toolbar>
    <syg-title>
      Virtual Scroll Test
    </syg-title>
    <syg-buttons slot="end">
      <syg-button (click)="addItems()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </syg-button>
    </syg-buttons>
  </syg-toolbar>
</syg-header>
<ion-content>
  <ion-virtual-scroll [items]="items" [headerFn]="myHeaderFn" [footerFn]="myFooterFn">
    <syg-item-divider *virtualHeader="let header">{{ header }}</syg-item-divider>
    <syg-item-divider *virtualFooter="let footer">-- {{ footer }}</syg-item-divider>
    <!-- <syg-item *virtualItem="let item" itemHeight="itemHeight">
      {{item.name}}
    </syg-item> -->
    <syg-item *virtualItem="let item" [routerLink]="['/', 'virtual-scroll-detail', item]">
      <ion-label>
        <app-virtual-scroll-inner [value]="item.name"></app-virtual-scroll-inner>
      </ion-label>
      <ion-icon *ngIf="(item.name % 2) === 0" name="airplane" slot="start"></ion-icon>
      <ion-toggle slot="end" [(ngModel)]="item.checked"></ion-toggle>
    </syg-item>
  </ion-virtual-scroll>
</ion-content>
