@import "./select-popover";
@import "./select-popover.md.vars";

ion-list ion-radio {
  opacity: 0;
}

syg-item {
  --inner-border-width: 0;
}

.item-radio-checked {
  --background: #{syg-color(primary, base, 0.08)};
  --background-focused: #{syg-color(primary, base)};
  --background-focused-opacity: 0.2;
  --background-hover: #{syg-color(primary, base)};
  --background-hover-opacity: 0.12;
}

.item-checkbox-checked {
  --background-activated: #{$item-md-color};
  --background-focused: #{$item-md-color};
  --background-hover: #{$item-md-color};
  --color: #{syg-color(primary, base)};
}
