<syg-header>
  <syg-toolbar>
    <syg-buttons slot="start">
      <syg-button (click)="closeModal()" id="close-modal">
        Close
      </syg-button>
    </syg-buttons>
  </syg-toolbar>
</syg-header>

<ion-content class="ion-padding">
  <h1>Value</h1>
  <h2>{{value}}</h2>
  <h3>{{valueFromParams}}</h3>
  <p>ngOnInit: <span id="ngOnInit">{{onInit}}</span></p>
  <p>ionViewWillEnter: <span id="ionViewWillEnter">{{willEnter}}</span></p>
  <p>ionViewDidEnter: <span id="ionViewDidEnter">{{didEnter}}</span></p>
  <p>ionViewWillLeave: <span id="ionViewWillLeave">{{willLeave}}</span></p>
  <p>ionViewDidLeave: <span id="ionViewDidLeave">{{didLeave}}</span></p>
  <p *ngIf="!!nav">
    <syg-button (click)="push()" class="push-page">Push page</syg-button>
    <syg-button (click)="pop()" class="pop-page">Pop page</syg-button>
  </p>
</ion-content>
